{% extends "base.html" %}

{% block title %}
Send Bult SMS
{% endblock title %}


{% block content %}
<main>
    <center>
        <form action="{% url 'send_bulk_sms' %}" method="post">
            {% csrf_token %}

            <h2>Send SMS</h2>
            <hr class="col-3">
            <div class="col-5">
                <p>{{ form.title }}</p>
                <p>{{ form.content|safe }}</p>
                <p>
                    {{ form.recipients|safe }}
                    <caption>Seperate recipient numbers with spaces</caption>
                </p>
            </div>
            <br>
            <input class="btn btn-success btn-sm" type="submit" value="Send">
        </form>
    </center>

</main>
{% endblock content %}