{% extends "base.html" %}

{% block title %}
Create Template
{% endblock title %}

{% block content %}
<form action="" method="post">
    <!-- {% load crispy_forms_tags %} -->
    {% csrf_token %}
    <center>
        <div class="col-5">
            <p>{{ form.title }}</p>
            <p>{{ form.content }}</p>

            <p>{{ form.recipients }}
                <caption>Seperate recipient numbers with spaces</caption>
            </p>
            <p> <label for="is_template">Save as teplate</label>
                {{ form.is_template }}
            </p>
            <br>
            <input class="btn btn-info btn-sm type=" type="submit" value="Save Template">
        </div>
    </center>
</form>
{% endblock content %}